* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background:#0d0923 ;
    font-family: 'Tangerine', sans-serif;
    transition: all 1s ease;
    color: white;

   
}

header {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    
  
}



.intro-text h1 {

    font-size: 80px;
    margin-bottom: 10px;
}

.intro-text p {

    font-size: 40px;
    
}


.arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



section {

    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

section img {

    width: 70%;
    height: 80%;
    
}
.page-2 {
    
    text-align: center;
    width: 70%;
}

.page-2 h1 {
    font-size: 60px;
    margin-bottom: 20px;
   
}

.bg-active {

    background: white;
    color: black;
}
